data
.ipynb_checkpoints
*.h5
models
*.swp
*.p
MNIST_data/
GTSRB_data/
# checkpoint
# lenet.data*
# lenet.index
# lenet.meta*
*.sw*
traffic-signs-data/
*memo.txt
/fig/
/__pycache__/
/log/
mnist_with_summaries.py
